{% extends "base_weblog.html" %}

{% block content-main %}
<div class="limite">
    <h1>Últimas entradas</h1>

    {% load humanize %}
    {% for object in latest %}
    <div class="entry" {% if forloop.last %}style="border:none;"{% endif %}>
	<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>

	<div class="meta">
	    <h6>Publicado {{ object.pub_date|naturalday:"e\m d/m/Y" }}
		às {{ object.pub_date|date:"G\hi" }}</h6>
	    <a href="{{ object.get_absolute_url }}#comments">
		{{ comment_count }} comentário{{ comment_count|pluralize }}
	    </a>
	</div>

	{{ object.body|safe }}
    </div>
    {% endfor %}
</div>    
{% endblock %}
