{% extends "base_casos.html" %}

{% block cssid %}casos_de_sucesso{% endblock %}

{% block sectionid %}comunidade{% endblock %}

{% block title %}Casos de Sucesso{% endblock %}

{% block billboard %}<h2>Casos de sucesso no Brasil</h2>{% endblock %}

{% block content-main %}
<div class="limite">
    {% for success_case in all_success_cases %}
        {{ success_case.title }}
        {{ success_case.description }}
    {% endfor %}
</div>
{% endblock %}

{% block content-related %}
<div class="limite">
    <h4>Envie o seu caso!</h4>
    <p>
    Você pode também enviar seu caso de sucesso e contar a história da sua
    empresa aqui, ao lado de grandes e inovadoras marcas. Para isso, basta
    enviar-nos uma <a href="/casos-de-sucesso/novo">mensagem de contato</a> respondendo
    as perguntas abaixo e entraremos em contato em seguida para maiores
    detalhes e posterior redação do texto e publicação.
    </p>
</div>
{% endblock %}
