<!doctype html>
<html lang="pt-br">
<head>
	<title>Django Brasil | Website da comunidade brasileira</title>
</head>
<body>
	<div id="cabecalho">
	    <h1 class="site name"><a href="/" title="Página principal">Django Brasil</a></h1>
	    
	    <ul id="menu">
		<li id="nav-homepage"><a href="/" title="Página principal"><span>Home</span></a></li>
		<li id="nav-download"><a href="/download/" title="Faça o download do Django"><span>Download</span></a></li>
		<li id="nav-docs"><a href="/documentacao/" title="Documentação em português"><span>Documentação</span></a></li>
		<li id="nav-weblog"><a href="/weblog/" title="As novidades em torno do Django e da comunidade"><span>Weblog</span></a></li>
		<li id="nav-comunidade"><a href="/comunidade/" title="A comunidade brasileira de desenvolvedores Django"><span>Comunidade</span></a></li>
		<li id="nav-contato"><a href="/contato/" title="Entre em contato"><span>Contato</span></a></li>
	    </ul>
	</div>
	
	<div id="chamada">
	    <h2>O framework web para perfeccionistas com prazos</h2>
	    <p>Django facilita o desenvolvimento de aplicações web com mais qualidade e menos código</p>
	</div>
	
	<!-- Rodape -->
	<div id="rodape">
	    <p>Hospedado
	    por <a href="http://associacao.python.org.br">APyB</a>. Django
	    Brasil é a comunidade brasileira de usuários
	    do <a href="http://www.djangoproject.com/" rel="external"
	    hreflang="en" title="Site oficial do Django">framework web
	    Django</a>. Django é uma marca registrada
	    de <a href="http://ljworld.com" rel="external"
	    hreflang="en">Lawrence Journal-World</a>.</p>
	</div>
	<!-- Fim do rodape -->

	<!-- Google Analytics -->
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	  _uacct = "UA-2526852-2";
	  urchinTracker();
	</script>
	<!-- Fim do Google Analytics -->

    <script type="text/javascript">
        var disqus_shortname = 'djangobrasil'; // required: replace example with your forum shortname

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    </body>
</html>
