<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django Brasil</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />

    <script type="text/javascript" src="script/jquery-1.6.min.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

    <div class="container_12">

        <header id="top">

            <div class="grid_5">

                <img src="{{ MEDIA_URL }}images/django-logo-positive.png" id="django" alt="Django Brasil" /><span>brasil</span>
            </div>

            <div class="grid_7">
                {% comment %}
                <nav id="top-menu">
                    <ul>
                        <li><a href="">Django</a></li>
                        <li><a href="">Python</a></li>
                        <li><a href="">Code</a></li>
                    </ul>
                </nav>
                {% endcomment %}

                <nav id="main-menu">
                    <ul>
                        <li><a href="" class="select">Home</a></li>
                        <li><a href="">Download</a></li>
                        <li><a href="">Documentação</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Comunidade</a></li>
                        <li><a href="">Contato</a></li>
                    </ul>
                </nav>

            </div>

            <div class="clear"></div>

        </header>

        <section id="main">

            <div class="grid_4">
                <a href="">inicie</a>
            </div>
            <div class="grid_4">
                <a href="">aprenda</a>
            </div>
            <div class="grid_4">
                <a href="">participe</a>
            </div>

        </section>

        <section id="content">

            <div class="grid_8">

            <h2>Django é um framework web de alto nível escrito em Python que estimula o desenvolvimento rápido e limpo.</h2>

            <p>Desenvolvido e utilizado por mais de dois anos em uma
	    operação ágil de notícias online, Django foi projetado
	    para lidar com dois desafios: os prazos apertados de uma
	    redação e os requisitos rígidos dos
	    <a href="http://www.djangoproject.com/documentation/faq/#who-s-behind-this"
	       hreflang="en" rel="external">experientes
	       desenvolvedores web que o criaram</a>. Ele permite que
	       você construa rapidamente aplicações web de alto
	       desempenho e elegância.</p><br />

	    <p>Django se concentra no máximo de automatização
	    possível e adere ao princípio
	    <a href="http://en.wikipedia.org/wiki/DRY"
	       hreflang="en" rel="external">DRY</a>(não se repita).</p>

	    <ul>
		<li>Mergulhe na leitura da
		    <a href="/documentacao/visaogeral/"> visão
		      geral</a>.</li>
		<li>Quando você estiver pronto para escrever código, leia o
		    <a href="/documentacao/instalar/">guia de
			instalação</a> e o
		    <a href="/documentacao/tutorial01/">tutorial</a>.</li>
		<li>Não deixe de visitar também a
		    <a href="http://www.djangoproject.com"
		       hreflang="en" rel="external">página oficial do projeto</a>.</li>
	    </ul>

            <h4>planet djangobrasil</h4>

            <h3>Mapeador objeto-relacional</h3>

            <p>Django tem total suporte para
		<a href="http://www.djangoproject.com/documentation/i18n/"
		   hreflang="en" rel="external">aplicações
		    multi-idioma</a>, deixando você especificar
		   strings de tradução e fornecendo ganchos para
		   funcionalidades específicas do idioma.</p>

            </div>

        </section>

        <aside>

            <div class="grid_4">

                <h4>Download</h4>

                <a href="/download/" id="button-download">
                    <span>Versão Atual: <b>1.3.1</b></span>
                </a>

                <h4>Documentação</h4>

                <ul id="documents">
                    <li><a href="/documentacao/instalar/">Guia de Instalação</a></li>
                    <li><a href="/documentacao/tutorial01/">Tutoriais</a></li>
                    <li><a href="http://code.djangoproject.com/wiki/CookBookPortugues">Cook Book</a></li>
                    <li><a href="/documentacao/">Mais →</a></li>
                </ul>

                <h4>Blog</h4>

                {% load blog_tags %}
                {% load humanize %}
                {% get_blog_entries 1 to 2 as latest_entries %}

                {% for entry in latest_entries %}
                <article>
                    <h5>{{ entry.title}}</h5>
                    <span>{{ entry.pub_date|naturalday:"e\m d/m/Y" }}</span>
                    <p>{{ entry.body|striptags|truncatewords:25 }}</p>
                    <a href="{{ entry.get_absolute_url }}" class="more">Leia Mais →</a>
                </article>
                {% endfor %}

                <h4>Quem usa Django</h4>

                <section id="cases">
                    <div class="logo-case" style="background: #fff url({{ MEDIA_URL }}images/globo.png) center no-repeat;"></div>
                    <span>Portal de entretenimento, notícias e esportes da Rede Globo.</span>
                </section>

            </div>

        </aside>

        <div class="clear"></div>

        <footer>

            <div class="grid_8">

                <h5>Links Rápidos</h5>

                <nav id="quick-menu">
                    <ul>
                        <li><a href="">Django Project</a></li>
                        <li><a href="">Documentação</a></li>
                        <li><a href="">Comunidade</a></li>
                        <li><a href="">Python Brasil</a></li>
                    </ul>
                </nav>


            </div>


            <div class="grid_4">

                <div id="copyright">
                    <span>Django Brasil é a comunidade brasileira de usuários do framework web <span class="django">Django</span>.</span><br />
                    <span class="meta">© 2006-2011 - DjangoBrasil</span>
                </div>

            </div>

            <div class="clear"></div>

        </footer>

    </div>

</body>
</html>
