{% extends "base.html" %}

{% block title %}Comentário publicado{% endblock %}

{% block cssid %}clean{% endblock %}

{% block accesslink %}
    <ul class="hidden">
	<li><a href="#principal">Pular para o conteúdo</a></li>
    </ul>
{% endblock %}

{% block billboard %}<h2>Comentário</h2>{% endblock %}

{% block wrap %}
    <div id="principal">
        <div class="limite">
	    <h1>Comentário publicado com sucesso!</h1>

	    <p>Seu comentário foi publicado com sucesso! Dentro de alguns minutos
	      ele será exibido. Obrigado por contribuir!</p>

	    <p>Você pode ir para a <a href="/">página inicial</a>, se
	      preferir.</p>
	</div>
    </div>
{% endblock %}
