{% extends "base_2col.html" %}

{% block sectionid %}download{% endblock %}

{% block title %}Download{% endblock %}

{% block billboard %}<h2>Baixe o Django!</h2>{% endblock %}

{% block content-related %}
<div class="limite">
  <h4>Para os apressados:</h4>
  <ul>
    <li>Baixe o último
      lançamento: <a href="http://www.djangoproject.com/download/1.0/tarball/">Django-1.0.tar.gz</a>.</li>
  </ul>
  
  <h4>Qual versão é melhor?</h4>
  <p>O Django é melhorado quase todos os dias e seus desenvolvedores
    utilizam da boa prática de manter o código estável. Dessa maneira,
    é seguro utilizar o último código de desenvolvimento e você ainda
    poderá se beneficiar das últimas funcionalidades
    implementadas. Apenas tenha em mente que ocasionalmente poderá
    ocorrer mudanças que torne o código de seu projeto
    incompatível com o novo código do Django, sendo necessário algumas
    adaptações. Para acompanhar as mudanças, dê uma atenção especial à
    <a href="http://code.djangoproject.com/timeline?changeset=on">linha
      do tempo de desenvolvimento.</a></p>
  <p>Se você estiver apenas procurando uma distribuição estável e
    não se importar em aguardar a próxima versão, voce vai querer a
    última versão oficial (que incluem sempre notas detalhadas sobre
    as eventuais alterações que você precisará fazer ao atualizar)</p>

  <h4>Lançamentos anteriores</h4>
  <ul>
    <li>Django 0.96.3: <a href="http://www.djangoproject.com/download/0.96.3/tarball/">tarball</a></li>
  </ul>  
  
  <h4>Lançamentos anteriores não mais suportados</h4>
  <ul>
    <li>Django 0.95.4: <a href="http://www.djangoproject.com/download/0.95.4/tarball/">tarball</a></li>
    <li>Django 0.91.3: <a href="http://www.djangoproject.com/download/0.91.3/tarball/">tarball</a></li>
    <li>Django 0.90: <a href="http://www.djangoproject.com/download/0.90/tarball/">tarball</a> | <a href="http://www.djangoproject.com/download/0.90/egg/">egg</a></li>
  </ul>
</div>
{% endblock %}
