{% extends "base_2col.html" %}

{% block cssid %}docs{% endblock %}

{% block sectionid %}docs{% endblock %}

{% block title %}Documentação{% endblock %}

{% block billboard %}<h2>Documentação em português</h2>{% endblock %}

{% block content-related %}
<div class="limite">
    <h4>Pesquise com Google</h4>
    <!-- Google CSE Search Box Begins  -->
    <form action="http://www.google.com/cse" id="searchbox_014981936230313479242:vuxmnuuhcam">
	<input type="hidden" name="cx" value="014981936230313479242:vuxmnuuhcam" />
	<input type="text" name="q" size="25" />
	<button type="submit" name="sa">Ir</button>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_014981936230313479242%3Avuxmnuuhcam"></script>
    <!-- Google CSE Search Box Ends -->

    <h4>Obtenha ajuda</h4>
    <ul>
	<li>Canal IRC <a href="irc://irc.freenode.net/django-br">#django-br</a></li>
	<li><a href="http://lista.djangobrasil.org">Lista de
		discussão da Django Brasil</a></li>
	<li><a href="http://www.djangoproject.com/documentation/"
	       hreflang="en" rel="external">Documentação
	       oficial</a></li>
	<li><a href="groups.google.com/group/django-users"
	       hreflang="en" rel="external">Lista de discussão
	       em Inglês</a></li>
	<li>Canal IRC <a href="irc://irc.freenode.net/django"
			 hreflang="en">#django</a></li>
	<li><a href="http://www.pythonbrasil.com.br"
	       rel="external">Python Brasil</a></li>
	<li><a href="http://br.groups.yahoo.com/group/python-brasil/"
	       rel="external">Lista de discussão da Python Brasil</a></li>
	<li>Canal IRC <a href="irc://irc.freenode.net/python-br">#python-br</a></li>
    </ul>
</div>
{% endblock %}
