{% if display_form %}
<form action="/comments/postfree/" method="post">
<fieldset>
    <legend>Comentar esse texto</legend>

    <label for="id_person_name">Seu <kbd>n</kbd>ome: <span>(obrigatório)</span></label>
    <input type="text" id="id_person_name" name="person_name"
	   accesskey="n" title="Insira seu nome">

    <label for="id_comment"><kbd>M</kbd>ensagem: <span>(obrigatório)</span></label>
    <textarea name="comment" id="id_comment" accesskey="m" rows="5"
	      cols="50" title="Digite sua mensagem"></textarea>

    <input type="hidden" name="options" value="{{ options }}">
    <input type="hidden" name="target" value="{{ target }}">
    <input type="hidden" name="gonzo" value="{{ hash }}">
    <!--input type="submit" name="preview" value="Visualizar comentário" /-->
    <button type="submit" name="preview">Visualizar Comentário</button>
</fieldset>
</form>
{% endif %}
