{% extends "base_2col.html" %}

{% block cssid %}contato{% endblock %}

{% block sectionid %}contato{% endblock %}

{% block title %}Contato{% endblock %}

{% block billboard %}<h2>Entre em contato</h2>{% endblock %}

{% block accesslink %}
<ul class="hidden">
    <li><a href="#conteudo">Pular para o conteúdo</a></li>
    <li><a href="#info">Pular para o download e links da
	    documentação</a></li>
    <li><a href="#weblog">Pular para a lista de entradas do
	    weblog</a></li>
</ul>
{% endblock %}

{% block content-main %}
<div class="limite">
</div>
{% endblock %}
