{% extends "base_docs.html" %}

{% block content-main %}
<div class="limite">
    <h1>{{ flatpage.title }}</h1>
    {{ flatpage.content }}
</div>
{% endblock %}

{% block content-related %}
<div class="limite">
    <div class='toc'>
	<h4>Contents</h4>
	
	<ul>
	    <li><a href="#install-python">Install Python</a></li>
	    <li><a href="#install-apache-and-mod-python">
		    Install Apache and mod_python
	    </a></li>
	    <li><a href="#get-your-database-running">
		    Get your database running
	    </a></li>
	    <li><a href="#remove-any-old-versions-of-django">
		    Remove any old versions of Django
	    </a></li>
	    <li><a class="reference" href="#install-the-django-code" id="id5">
		    Install the Django code</a>
		<ul>
		    <li><a href="#installing-a-distribution-specific-package">
			    Installing a distribution-specific package</a></li>
		    <li><a href="#installing-an-official-release">Installing
			    an official release</a></li>
		    <li><a href="#installing-the-development-version">Installing
			    the development version</a></li>
		</ul>
	    </li>
	</ul>
    </div>

    <h4>Last update:</h4>
    <p>August 18, 1:52 a.m.</p>
</div>
{% endblock %}
