{% extends "base_download.html" %}

{% block content-main %}
<div class="limite">
    <h1>{{ flatpage.title }}</h1>
    {{ flatpage.content }}
</div>
{% endblock %}

{% block content-related %}
<div class="limite">
    <h4>For the impatient:</h4>
    <ul>
	<li>Download the latest release: <a href="http://www.djangoproject.com/download/0.95.1/tarball/">Django-0.95.1.tar.gz</a>.</li>
    </ul>
    
    <h4>Which version is better?</h4>
    <p>We improve Django almost every day and are pretty good about not checking in broken code. With that in mind, we <strong>recommend that you use the latest development code</strong>, because it generally contains more features and fewer bugs than the "official" releases.</p>
    
    <h4>Previous releases</h4>
    <ul>
	<li>Django 0.95.1: <a href="http://www.djangoproject.com/download/0.95.1/tarball/">tarball</a></li>
	<li>Django 0.95: <a href="http://www.djangoproject.com/download/0.95/tarball/">tarball</a></li>
	<li>Django 0.91: <a href="http://www.djangoproject.com/download/0.91/tarball/">tarball</a></li>
	<li>Django 0.90: <a href="http://www.djangoproject.com/download/0.90/tarball/">tarball</a> | <a href="http://www.djangoproject.com/download/0.90/egg/">egg</a></li>
    </ul>
</div>
{% endblock %}
