{% extends "base_2col.html" %}

{% block billboard %}
<h2>{{ flatpage.title }}</h2>
{% endblock %}

{% block content-main %}
<div class="limite">
    <h1>{{ flatpage.title }}</h1>
    
    {{ flatpage.content }}
</div>
{% endblock %}

{% block content-related %}
<div class="limite">
    <h4>Pesquise com Google</h4>
    <!-- Google CSE Search Box Begins  -->
    <form action="http://www.google.com/cse" id="searchbox_014981936230313479242:vuxmnuuhcam">
	<input type="hidden" name="cx" value="014981936230313479242:vuxmnuuhcam" />
	<input type="text" name="q" size="25" />
	<button type="submit" name="sa">Ir</button>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_014981936230313479242%3Avuxmnuuhcam"></script>
    <!-- Google CSE Search Box Ends -->
</div>
{% endblock %}
