{% extends "base_2col.html" %}

{% block cssid %}comunidade{% endblock %}

{% block sectionid %}comunidade{% endblock %}

{% block title %}Comunidade{% endblock %}

{% block billboard %}<h2>Comunidade brasileira de Django</h2>{% endblock %}

{% block content-related %}
<div class="limite">
    <h4>Feeds RSS</h4>
    <ul id="feeds">
	<li><a href="/feeds/rss/comunidade/">Feeds da comunidade</a></li>
    </ul>

    <h4>Envolva-se</h4>

    <p>O <strong>Django Brasil</strong> é um grupo de usuários e
	pesquisadores brasileiros de <strong>Django</strong>, uma
	framework para desenvolvimento ágil para
	a <strong>Web</strong>, baseada na
	linguagem <strong>Python</strong> e em padrões da
	programação orientada a objetos.</p>
    
    <ul>
	<li>
	    Participe das discussões em nossa
	    <a href="http://lista.djangobrasil.org/"
	       title="Participar da lista de discussão"
	       rel="external">lista de discussão</a> e no canal
	    IRC <a href="irc://irc.freenode.net/django-br">#django-br</a>
	    na rede <a href="irc://irc.freenode.net">FreeNode</a>;
	</li>
	<li>
	    entre na
	    <a href="http://l10n.djangobrasil.org/"
	       title="Participar do grupo de localização"
	       rel="external">equipe de localização</a> para o
	    português;
	</li>
	<li>
	    e/ou contribua com o
	    <a href="http://codigo.djangobrasil.org/"
	       title="Participar do desenvolvimento"
	       rel="external">código de nosso site</a> e com o
	    <a href="http://www.djangoproject.com/documentation/contributing/"
	       title="Participar do desenvolvimento do Django"
	       rel="external" hreflang="en">Projeto Django</a>.
	</li>
    </ul>

    <h4>Listas de discussão</h4>
    
    <ul>
	<li>
	    <p><strong><a href="http://lista.djangobrasil.org/">Usuários do
			Django no Brasil</a></strong>: Lista de
		discussão de ajuda ao Django em português.</p>

	    <form action="http://groups.google.com/group/django-brasil/boxsubscribe">
	    <fieldset>
		<legend>Inscreva-se na lista Django-Brasil</legend>
		<input type="text" name="email" size="15" />
		<button type="submit">Inscrever</button>
	    </fieldset>
	    </form>
	</li>

	<li>
	    <p><strong><a href="http://groups.google.com/group/django-l10n-portuguese">django-l10n-portuguese</a></strong>:
	    Equipe de localização e tradução do Django para o português.</p>

	    <form action="http://groups.google.com/group/django-l10n-portuguese/boxsubscribe">
	    <fieldset>
		<legend>Iscreva-se na lista de localização</legend>
		<input type="text" name="email" size="15" />
		<button type="submit">Inscrever</button>
	    </fieldset>
	    </form>
	</li>
    </ul>

    <h4>Diga ao mundo</h4>
    <ul>
      <li><a href="http://djangopeople.net/br/">Django People</a>
	&mdash; cadastre seu perfil;</li>
      <li><a href="http://www.djangosites.org/">DjangoSites.org</a>
	&mdash; adicione seu site com a tag <i>djangobrasil</i>;</li>
      <li><a href="http://www.djangoproject.com/community/badges/">Emblemas
	  do Django</a> &mdash; mostre seu apoio;</li>
      <li><a href="http://www.djangoproject.com/community/logos/">Logotipos
	  do Django </a> &mdash; baixe os logotipos oficiais;</li>
      <li><a href="http://www.djangoproject.com/weblog/2005/nov/11/desktops/">
	  Papel de parede do Django</a> &mdash; cubra seu Desktop</li>
      <li><a href="http://jaderubini.deviantart.com/art/DjangoBrasil-Wallpapers-74935244">Papel
	  de parede da Django Brasil</a> &mdash; cubra seu
	Desktop</li>
      <li><a href="http://semente.taurinus.org/weblog/2008/08/01/tema-do-django-para-gnome/">Tema
	  para GNOME</a> &mdash; deixe seu Desktop GNOME com as cores
	  do Django</li>
      <li>Escreva sobre Django em português
	  e <a href="/contato/">avise-nos</a>, e adicionaremos seu
	  feed nesta página.</p>
    </ul>

    <h4>Casos de Sucesso</h4>
    <p>Diversas empresas adotam o Django a cada dia
      mais. Veja <a href="/casos-de-sucesso/">algumas
        histórias</a> de grande satisfação que a opção pelo Django
      gerou.</p>

    <h4>Obtenha ajuda</h4>
    <ul>
	<li><strong><a href="/documentacao/faq/">Verifique nosso FAQ</a> primeiro</strong>.
	    Se você tem uma questão básica que não foi respondida pelo
	    FAQ, tire sua dúvida em nossa 
	    <a href="http://lista.djangobrasil.org/">lista de
	    discussão</a>.</li>
	<li><strong>Converse com outros usuários brasileiros do
		Django</strong> no 
	    <a href="irc://irc.freenode.net/django">canal IRC
		#django-br</a> da rede FreeNode
	    (irc.freenode.net).</li>
    </ul>

    <h4>Autores</h4>
    <ul id="authors">
	{% load aggregator %}
	{% get_feed_list as feed_list %}
	{% for feed in feed_list %}
	<li>
	    <a href="{{ feed.public_url }}">{{ feed }}</a> 
	    <a href="{{ feed.feed_url }}">
		<img class="feed" src="{{ MEDIA_URL }}images/icon-feed.gif"
		     alt="feed" />
	    </a>
	</li>
	{% endfor %}
    </ul>
    <p>Você escreve sobre Django em português?
	    <a href="/participe-dos-feeds/">Solicite aqui</a> a inclusão de seus feeds.
    </p>
</div>
{% endblock %}
